body {
    color: #585858;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.8;
    background-color: #FFF;
}

a {
    text-decoration: none;
}

ul,
ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

.container {
    width: 350px;
    /* padding: 0 12px;*/
    margin: 0 auto;
}

.header-img {
    width: 100%;
    margin-top: 40px;
    margin-bottom: 21px;
}

.header-wrap {
    padding-left: 25px;
    margin-bottom: 25px;
}


.header-title {
    color: var(--black, #1F1F1F);
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.45;
    letter-spacing: -0.48px;
    text-transform: capitalize;
}

.header-text {
    width: 313px;
    margin-bottom: 26px;

}

.header-btn {
    background: linear-gradient(79deg, rgba(111, 58, 27, 0.06) -2.75%, rgba(255, 255, 255, 0.00) 101.74%);

    width: 150px;
    padding: 7px 40px 7px 25px;
    color: #ED553B;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 2.2;
    letter-spacing: 1.4px;

    border-radius: 7px;
    border: 1px solid #EF6952;
}

.list-wrap {
    display: flex;
    flex-direction: row;
    gap: 4px;


    margin-top: 19px;
    width: 104px;
    height: 31px;
}

.list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: calc((100% - 12px) / 4);

}

.list-link {
    transition-duration: 50ms;
    transition-timing-function: ease-out;
}

.list-link:focus {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    border: 1px solid #ED553B;
    border-radius: 50%;
}


.list-circle {
    background-color: #bebebe;
    border-radius: 50%;
    transition-property: background-color;
    transition-duration: 150ms;
}

.list-circle:hover {
    background-color: var(--orange, #ED553B);
}


.wrapper {
    margin: 65px 34px 70px 25px;
}

.apper-line {
    position: relative;
}

.separator {
    margin-left: 46px;
    color: #ED553B;
    font-family: Poppins;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.4px;
}

.separator::before {
    content: "";
    display: block;
    width: 33px;
    height: 2px;
    background: #ED553B;
    left: 0;
    top: 50%;
    position: absolute;
}

.sect-title {
    color: #000;
    font-family: Poppins;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.36;
    margin-right: 53px;
    margin-bottom: 15px;
}

.sect-text {
    margin-right: 34px;
    width: 290px;
}

.sect-list {
    display: flex;
    flex-direction: column;
    gap: 50px
}

.sect-cards {
    flex-direction: column;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFF;
    box-shadow: 0px 8px 40px 0px rgba(49, 32, 138, 0.05);
}

.cards-title {
    color: var(--black, #1F1F1F);
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

}

.sect-icon {}

.cards-text {
    text-align: center;
    padding-left: 28px;
    padding-right: 29px;

    color: rgba(26, 11, 91, 0.30);
    font-weight: 500;
    line-height: 1.8;
}

.sect-title-product {
    margin: 0;
    color: #000;
    font-family: Poppins;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.36;
}

.product {
    width: 100%;
}

.product-form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 286px;
    height: 44px;
    border-radius: 3px;
    opacity: 0.45;
    background: #FFF;


}

.tel-wrap {}

.tel {}

.tel::placeholder {
    color: #FFA292;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 13px 60px 14px 15px;
}

.tel-btn {
    padding: 11px 17px 12px 17px;

    color: #EEEFFB;
    font-weight: 500;
    line-height: normal;
    border-radius: 3px;
    background: #ED553B;
}